@model LogicaAlquileres.WEB.Models.PropiedadVM

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Modificar Propiedad</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <!-- Campo oculto para el ID -->
            <input type="hidden" asp-for="model.id_Propiedad" />

            <div class="form-group">
                <label asp-for="model.direccion_Propiedad" class="control-label"></label>
                <input asp-for="model.direccion_Propiedad" class="form-control"/>
                <span asp-validation-for="model.direccion_Propiedad" class="text-danger"></span>
            </div>

            @* <div class="form-group">
                <label asp-for="model.estado_Propiedad" class="control-label"></label>
                <input asp-for="model.estado_Propiedad" class="form-control"/>
                <span asp-validation-for="model.estado_Propiedad" class="text-danger"></span>
           </div> *@
           <div class="form-group">
                <label asp-for="model.estado_Propiedad" class="control-label"></label>
                  <select asp-for="model.estado_Propiedad" class="form-control">
                 <option value="Disponible">Disponible</option>
                 <option value="Ocupado">Ocupado</option>
                 <option value="En mantenimiento">En mantenimiento</option>
                 </select>
                <span asp-validation-for="model.estado_Propiedad" class="text-danger"></span>
             </div>

            <div class="form-group">
                <label asp-for="model.precio_Propiedad" class="control-label"></label>
                <input asp-for="model.precio_Propiedad" class="form-control"/>
                <span asp-validation-for="model.precio_Propiedad" class="text-danger"></span>
           </div>

            <div class="form-group">
                <label asp-for="model.nombre_Propiedad" class="control-label"></label>
                <input asp-for="model.nombre_Propiedad" class="form-control"/>
                <span asp-validation-for="model.nombre_Propiedad" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="model.descripcion_Propiedad" class="control-label"></label>
                <input asp-for="model.descripcion_Propiedad" class="form-control"/>
                <span asp-validation-for="model.descripcion_Propiedad" class="text-danger"></span>
            </div>


            <div class="form-group mt-3">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
