@{
    ViewData["Title"] = "Home Page";
}

<<<<<<< HEAD
<style>
    .container-home {
        color: white; /* Cambia el color del texto a blanco para todos los elementos dentro */
    }

        /* También puedes especificar más explícitamente el color para otros elementos */
        .container-home h3, .container-home p {
            color: white; /* Asegúrate de que h3 y p tengan color blanco */
        }
=======
<!-- Agregar estilos inline para el fondo -->
<style>
    body {
        background-image: url("/images/fondo.jpg"); /* Ruta relativa desde wwwroot */
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100vh;
    }

    .container-home {
        text-align: center;
        padding: 50px;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 10px;
        max-width: 600px;
        margin: auto;
    }

    h3 {
        font-size: 2em;
        color: #004080;
    }

    p {
        font-size: 1.2em;
    }
>>>>>>> 819df21461be7bd76b98b2a5db9783ab93eaceb0
</style>

<div class="container-home">
    @if (Context.User.Identity.IsAuthenticated)
    {
        <h3>Bienvenido @User.Identity.Name</h3>

        @if (User.IsInRole("Administrador"))
        {
            <p>¡Eres Administrador!</p>
        }
        else
        {
            <p>¡Eres Usuario!</p>
        }
    }
    else
    {
        <h3>¡Bienvenido a nuestra aplicación de alquileres!</h3>
        <p>Por favor, inicia sesión para continuar.</p>
    }
</div>
