@{
    ViewData["Title"] = "Home Page";
}
@if (Context.User.Identity.IsAuthenticated)
{
        <br />
        <h3>Bienvenido @User.Identity.Name</h3>

    @if (User.IsInRole("Administrador"))
    {
                <p>¡Eres Administrador!</p>
    }
    else
    {
                <p>¡Eres Usuario!</p>
    }

        <br />
}